#addActualFile {
  position: absolute;
  visibility: hidden;
  z-index: -1;
}

label[for="addActualFile"] {
  cursor: pointer;

  &.disabled {
    cursor: default;
    opacity: 0.45;
  }
}

.ui.table-container {
  padding-right: 35px;
  padding-left: 35px;

  .table-wrapper {
    overflow-x: auto;
  }
}

.ui.modal.confirm {
  >.content {
    font-size: 1.8rem;
  }
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translate3d(0, 20px, 0);
  }

  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

@keyframes fadeOutDown {
  from {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }

  to {
    opacity: 0;
    transform: translate3d(0, 20px, 0);
  }
}

.notification-item {
  animation: fadeInUp .5s;

  &.animationOut {
    animation: fadeOutDown .3s forwards;
  }
}